<div class="container">
  <header>
    <div class="l-side">
      <div class="title">Manage products</div>
      <div class="counter">8-16 of 198 Products</div>
    </div>

    <div class="r-side">
      <p class="selected">Selected 03</p>
      <button class="btn btn-delete">Delete</button>
      <input
        class="search"
        type="text"
        name=""
        id=""
        placeholder="Search product..."
      />
    </div>
  </header>

  <app-header></app-header>
  <app-row></app-row>
</div>
